
@media(max-width: 480px){
    .div_footer > .row, .div_footer > .redes_sociales{
        height: 100% !important;
        background-color: #444;
        bottom: 0;
    }
}
.div_footer > .div_contacto_footer, .div_footer > .redes_sociales{
    display: block;
    background-color: #444;
    color: #d4d4d4;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    bottom: 0;
}

#footer,.div_footer{
    background-color: #444;
}

.contacto > p{
    margin-bottom: 5px !important;
}

.redes_sociales{
    text-align: center;
}
.redes_sociales>.iconos-redes{
    font-size: 5em !important;
    background-color: #444 !important;
}


.iconos-redes > a{
    color: white !important;
    text-decoration: none !important;
}


.iconos-redes > a.icono-redes:hover{
    color: #d4d4d4 !important;
}

/*
.iconos-redes > a.icono-redes:nth-of-type(3n+1):hover{
    color: #3D7CC4 !important;
}
.iconos-redes > a.icono-redes:nth-of-type(3n+2):hover{
    color: #F79F35 !important;
    

}
.iconos-redes > a.icono-redes:nth-of-type(3n+3):hover{
        color: #66A63C !important;
}*/