.div_menu{
    background: #3D7CC4;
}
#btn-menu{
    display: none;/*se oculta el check box*/
}

div.div_menu label i{
    color: white;
    font-size: 30px;
    padding: 5px;
}

header > div > label{
    display: none;
    height: 40px;
    width: 40px;
    border-right: 1px solid #fff;
}

header > div > label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.menu{
    top: 160px;
}
.menu > ul{
    /* alinea los menu con flex y les saca los puntos */
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu > ul  > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;/* caca el sibrayado*/
}

.menu > ul > li{
    transition: all 0.5s;
}
.menu > ul > li:hover{
    background: rgba(0,0,0,0.3);/* pone sombra trasparente cuando haceo hover*/
}

/*codigo del submenu echo por mi*/

.menu > ul > li >ul{
    list-style: none;
    display: none;
    position: absolute;
    background: #3D7CC4;
    margin-left: 20px;
}

.menu > ul > li:hover >ul{
    display: block;
    padding: 0;
    margin: 0;
    z-index: 3;
}
.menu > ul > li > ul > li{
    padding: 10px 20px;
    transition: all 0.5s;
}

.menu > ul > li > ul > li:hover{
    background: rgba(0,0,0,0.3);
}

.menu > ul > li > ul > li > a{
    color: white;
    text-decoration: none;
}

@media(max-width:768px){
    header > div > label{
        display: block;
    }

    .menu{
        position: absolute;
        background: #1D53A2;
        width: 100%;
        margin-left: -100%;
        margin-top: -5px;
        z-index: 3;


        transition: all 0.5s;
    }

    .menu > ul{
        flex-direction: column;
    }

    .menu > ul > li{
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu{
        margin-left: 0;
        z-index: 3;
    }

    .menu > ul > li:hover >ul{
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        z-index: 3;
    }

}